* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    gap: 70px;
}

.personagem {
    height: 120px;
    width: 120px;
}

#opcoes_jogadas {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 30px;
}

.jogadas {
    border: 2px solid #000;
    border-radius: 5px;
    width: 98px;
    display: flex;
    justify-content: center;
    padding: 5px;

    img {
        height: 80px;
    }

    &:hover {
        background-color: #000;
        cursor: pointer;
        transition: 0.3s;
    }
}

.jogada_selecionada {
    background-color: #000;
}